@import url(https://fonts.googleapis.com/css?family=Asap:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800,700,400);
header {
  z-index: 2000;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: clip; }
  header .header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0; }
  header h1 {
    margin: auto 0.6rem;
    font-size: 100%; }
    header h1 a {
      display: block;
      font-size: 200%;
      font-weight: normal;
      color: transparent;
      background: url("../img/ccbrowse.png") no-repeat center center;
      background-size: 4em; }
      header h1 a:hover {
        text-decoration: none; }
  header #toolbox {
    color: #eee;
    margin: auto 0.6rem;
    display: flex;
    align-items: center; }
    header #toolbox a {
      display: block;
      font-size: 160%;
      padding-left: 1.8em; }
    header #toolbox a[href="#about"] {
      background: url("../img/about.png") no-repeat 0.6em center;
      background-size: 0.8em; }

nav {
  width: 100%;
  bottom: 0;
  font-size: 100%;
  color: #eee;
  background: #333;
  box-shadow: inset 2px 2px 6px black;
  display: flex;
  flex-direction: column; }
  nav .panel {
    display: flex;
    flex-direction: column;
    padding: 0.3rem; }
    nav .panel .years {
      display: flex;
      flex-wrap: wrap; }
      nav .panel .years .year-group {
        display: flex; }
        nav .panel .years .year-group .year {
          display: block;
          border-left: 1px solid #888;
          cursor: pointer;
          font-size: 120%;
          line-height: 1.2em;
          color: white;
          padding: 0 0.2em;
          margin: 0.1em 0em 0.1em 0.1em;
          border-radius: 2px; }
          nav .panel .years .year-group .year.disabled {
            cursor: auto;
            color: #777;
            display: none; }
        nav .panel .years .year-group .months {
          display: flex;
          overflow: hidden; }
          nav .panel .years .year-group .months .month {
            display: block;
            cursor: pointer;
            margin: 0.16em 0em;
            border-radius: 2px;
            padding: 0.1em 0.2em; }
            nav .panel .years .year-group .months .month.selected {
              background-color: #0197fd;
              color: black; }
            nav .panel .years .year-group .months .month.disabled {
              cursor: auto;
              color: #777;
              display: none; }
        nav .panel .years .year-group:first-child .year {
          border-left: none; }
    nav .panel .days .day {
      display: inline-block;
      cursor: pointer;
      border-radius: 2px;
      padding: 0.1em 0.3em;
      margin: 0.1em; }
      nav .panel .days .day.selected {
        background-color: #0197fd;
        color: black; }
      nav .panel .days .day.disabled {
        cursor: auto;
        color: #777;
        display: none; }
  nav .progress {
    height: 8px;
    width: 100%;
    background: black url("../img/progress-unavailable.png") repeat-x;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-x: clip; }
    nav .progress .indicator {
      z-index: 1;
      position: absolute;
      left: 0;
      height: 100%;
      background: #0197fd;
      width: 0;
      background: url("../img/progress.png") repeat-x;
      border-top: 1px solid #555;
      border-bottom: 1px solid #555;
      margin-top: -1px; }
    nav .progress .thumb {
      z-index: 1;
      width: 20px;
      height: 20px;
      background: url("../img/thumb.png") no-repeat;
      position: absolute;
      margin-left: -10px;
      margin-top: -6px; }
    nav .progress .tooltip {
      display: none;
      font-family: helvetica, sans-serif;
      font-size: 74%;
      z-index: 2;
      position: absolute;
      margin-top: 20px;
      padding: 5px 7px;
      text-align: center;
      background: black;
      border-radius: 4px; }
    nav .progress .availability-container {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      nav .progress .availability-container .availability {
        position: absolute;
        background: url("../img/progress-available.png") repeat-x;
        border: 1px solid #66fc43;
        height: 6px; }

@media (max-width: 1024px) {
  nav .panel .days .day {
    padding: 0.1em; } }
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

#map-container {
  text-align: center;
  background: url("../img/bg.png") repeat-x;
  flex-grow: 1;
  position: relative; }

.context.map {
  flex-direction: row; }

#map {
  background: transparent !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.leaflet-container a.leaflet-active {
  outline: none; }

.leaflet-container .leaflet-control, .control {
  background: black;
  color: white;
  border-radius: 6px;
  border: 1px solid #555;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  text-align: left;
  transition: opacity 200ms;
  opacity: 0.8; }

.control:hover, .leaflet-container .leaflet-control:hover {
  opacity: 1; }

.leaflet-container .leaflet-control-measure {
  position: absolute;
  left: 100px;
  top: 0px; }

.leaflet-container .leaflet-control-measure a {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/measure.png") no-repeat center center; }

.control {
  position: absolute; }

.control.collapsed {
  opacity: 0.8; }

.control.collapsed:hover {
  opacity: 1; }

.control.collapsed .content {
  display: none; }

.leaflet-container .leaflet-control-attribution {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 2px 4px;
  box-shadow: none;
  font-size: 70%;
  font-family: Tahoma, sans-serif;
  border-radius: 0;
  border: none;
  opacity: 0.5;
  transition: opacity 200ms; }

.leaflet-container .leaflet-control-attribution:hover {
  opacity: 1; }

.leaflet-container .leaflet-control-attribution a {
  color: inherit;
  font-weight: bold;
  padding: 0; }

.leaflet-container .leaflet-control-attribution a:hover {
  text-decoration: inherit; }

.leaflet-top .leaflet-control {
  margin-top: 20px; }

.leaflet-left .leaflet-control {
  margin-top: 0.9rem;
  margin-left: 0.9rem; }

.leaflet-control-zoom {
  background: black;
  border-radius: 6px;
  border: 1px solid #555;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  padding: 0;
  transition: opacity 200ms;
  display: flex; }

.leaflet-control a {
  background-color: transparent;
  margin: 0;
  padding: 8px; }

.leaflet-control a:hover {
  background-color: transparent; }

.leaflet-control-zoom-in {
  background: url("../img/zoom-in.png") no-repeat;
  border-right: 1px solid #777;
  border-radius: 0 !important;
  font-size: 0; }

.leaflet-control-zoom-out {
  background: url("../img/zoom-out.png") no-repeat;
  font-size: 0; }

.leaflet-touch .leaflet-control-zoom a {
  width: 18px !important;
  height: 18px !important; }

.leaflet-popup-content-wrapper {
  background: black;
  border-radius: 5px;
  border: 1px solid #999;
  box-shadow: 2px 2px 10px black;
  position: relative;
  left: 30%; }

.leaflet-popup-content {
  color: white;
  font-size: inherit;
  font-family: inherit;
  margin: 0.5em;
  box-shadow: 2px 2px 6px black; }

.leaflet-popup-close-button {
  display: none; }

.leaflet-popup-tip {
  background-color: black;
  box-shadow: 2px 2px 6px black;
  border: 1px solid #999;
  position: relative;
  top: -1px; }

.leaflet-popup-tip-container {
  height: 20px;
  position: relative;
  top: -1px; }

#layer-control {
  top: 0.9rem;
  right: 0.9rem;
  z-index: 1000; }

#layer-control .icon {
  float: right;
  width: 20px;
  height: 20px;
  background: black url("../img/layers.png") no-repeat center center;
  cursor: pointer;
  position: relative;
  z-index: 200;
  margin: 0.6rem; }

#layer-control .label {
  font-size: 150%;
  margin: 0.5em; }

.layer-item {
  display: block;
  height: 1.3em;
  padding: 0.5em 0.5em;
  white-space: nowrap; }
  .layer-item:focus {
    outline: none;
    text-decoration: underline; }
  .layer-item:hover:before {
    text-decoration: none !important; }
  .layer-item.active {
    background-color: #0197fd;
    color: black; }
    .layer-item.active .bulb {
      background: url("../img/bulb-active.png") no-repeat; }
  .layer-item.enabled .bulb {
    background: url("../img/bulb-enabled.png") no-repeat; }
  .layer-item .bulb {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    display: inline-block;
    background: url("../img/bulb-disabled.png") no-repeat; }

.popup-content .color-box {
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 5px;
  margin-top: 8px; }

.popup-content .value {
  font-weight: bold; }

.popup-content .latlon-link {
  display: block;
  color: #0197fd; }

.error, .note {
  position: relative;
  opacity: 0.85;
  margin: 0 auto;
  display: inline-block;
  top: -2px;
  z-index: 80;
  text-align: center;
  padding: 16px 14px 8px 14px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  transition: top 200ms;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  z-index: 1500; }

.error.collapsed, .note.collapsed, .note.hold {
  top: -55px; }

.error {
  background-color: #f50000; }

.note {
  background: rgba(0, 0, 0, 0.5); }

.keyboard-shortcuts {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000; }

.keyboard-shortcuts > input {
  display: none; }

.keyboard-shortcuts > input + label {
  position: absolute;
  display: block;
  bottom: 4px;
  left: 4px;
  width: 30px;
  height: 15px;
  background: url("../img/keyboard.png") no-repeat;
  opacity: 0.5; }

.keyboard-shortcuts input:checked + label {
  opacity: 1; }

.keyboard-shortcuts > div {
  position: absolute;
  left: 4px;
  bottom: 23px;
  padding: 0.3rem;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 0.9rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 100ms;
  z-index: 1000; }

.keyboard-shortcuts input:checked ~ div {
  opacity: 1; }

.keyboard-shortcuts .title {
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding-bottom: 0.3rem; }

.keyboard-shortcuts td:first-child {
  font-weight: bold;
  text-align: right;
  padding: 0; }

.keyboard-shortcuts td:last-child {
  text-align: left;
  padding: 0 0 0 0.3rem; }

#colormap-container {
  background: #111;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  width: 7.5rem;
  overflow: hidden; }

#colormap {
  position: absolute;
  top: 0.9rem;
  bottom: 0.9rem;
  left: 0.9rem;
  right: 0.9rem;
  font-size: 0.9rem;
  font-family: helvetica, sans-serif; }

.colormap-over {
  width: 20px;
  height: 25px;
  background: url("../img/over.png") no-repeat; }

.colormap-under {
  width: 20px;
  height: 25px;
  background: url("../img/under.png") no-repeat; }

#location-bar {
  display: none;
  position: absolute;
  z-index: 100;
  bottom: 6px;
  width: 100%;
  color: #eee;
  font-size: 150%;
  font-family: "Open Sans";
  font-weight: bold;
  text-shadow: 2px 2px 0 #000; }

#location-bar .center {
  margin: 0 auto;
  text-align: center; }

#location-bar .left {
  position: absolute;
  left: 10px;
  bottom: 0;
  text-align: left; }

#location-bar .right {
  position: absolute;
  right: 10px;
  bottom: 0;
  text-align: right; }

/*
#location-bar {
    position: absolute;
    left: 0;
    right: 130px;
    bottom: 0;
    height: 30px;
    xbackground-color: rgba(0,0,0,0.5);
    background: url('../img/location-bar.png') repeat-x;
    overflow: hidden;
}

#location-bar .container {
    position: absolute;
}

#location-bar .container > div {
    position: absolute;
    width: 32px;
    height: 30px;
    color: #eee;
    font-size: 12pt;
    line-height: 30px;
    xborder-left: 1px solid #888;
    overflow-x: no-content;
    text-align: center;
}

#location-bar .container > div:last-child {
    xborder-right: 1px solid #888;
}
*/
#overlay .tooltip {
  position: absolute;
  font-family: helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2px 5px;
  font-size: 80%;
  border: 1px solid black;
  z-index: 500;
  border-radius: 2px; }

.page {
  max-width: 800px;
  margin: 0 auto;
  background-color: #111;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1); }

.page h1 {
  font-size: 2.7rem;
  color: white;
  font-weight: normal;
  margin: 1.8rem;
  text-align: left; }

.page article {
  text-align: left;
  background-color: white;
  border-radius: 1px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
  color: #333;
  padding: 1.2rem; }

.page article p {
  margin: 0.6rem 0; }

.page article a {
  color: #1122cc;
  text-decoration: underline; }

.page article h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.9rem;
  font-size: 1.5rem; }

#yaxis-container {
  width: 3em;
  height: 100%;
  background: url("../img/yaxis.png") repeat-y;
  background-size: 2em;
  text-shadow: 2px 2px 0 #000;
  color: white;
  font-weight: bold;
  position: absolute;
  z-index: 100;
  opacity: 0.9; }

.yaxis {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .yaxis .label {
    position: absolute;
    left: 0;
    padding-left: 0.7em; }
  .yaxis .tick {
    position: absolute;
    left: 0;
    height: 1px;
    width: 0.3em;
    background: white;
    border-bottom: 2px solid black; }
  .yaxis .tick.minor {
    width: 0.2em; }

html {
  font-size: 15px; }

body {
  margin: 0;
  background: #333;
  font-family: Asap, helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 500;
  pointer-events: none; }

a {
  color: inherit;
  text-decoration: inherit; }

a:hover {
  text-decoration: underline; }

a:hover:before {
  text-decoration: none !important; }

.context {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column; }

@media (max-width: 1024px) {
  html {
    font-size: 13px; } }

/*# sourceMappingURL=ccbrowse.css.map */
