#colormap-container {
    position: absolute;
    top: 0;
    right: 0;
    background: #111;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    bottom: 0;
    z-index: 50;
}

#colormap {
    position: absolute;
    top: 10px;
    bottom: 10px;
    font-size: 84%;
    font-family: helvetica, sans-serif;
}

.colormap-over {
    width: 20px;
    height: 25px;
    background: url('../img/over.png') no-repeat;
}

.colormap-under {
    width: 20px;
    height: 25px;
    background: url('../img/under.png') no-repeat;
}

