#colormap-container {
    background: #111;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: relative;
    width: 7.5rem;
    overflow: hidden;
}

#colormap {
    position: absolute;
    top: 0.9rem;
    bottom: 0.9rem;
    left: 0.9rem;
    right: 0.9rem;
    font-size: 0.9rem;
    font-family: helvetica, sans-serif;
}

.colormap-over {
    width: 20px;
    height: 25px;
    background: url('../img/over.png') no-repeat;
}

.colormap-under {
    width: 20px;
    height: 25px;
    background: url('../img/under.png') no-repeat;
}

