.map .globe {
	position: absolute;
	z-index: 1000;
	top: 1rem;
	right: 4rem;
	width: 9rem;
	height: 9rem;
	pointer-events: none;

	.pointer {
		fill: red;
	}

	.canvas {
		position: absolute;
		z-index: -1;
		opacity: 0.7;
	}

	.circle {
		fill: none;
		stroke: black;
		stroke-width: 0.5px;
	}

	.box {
		-opacity: 0.3;
	}

	.land {
		fill: rgba(255, 255, 255, 0.6);
	}

	.country {
	  fill: none;
	  stroke: rgba(0, 0, 0, 0.3);
	  stroke-width: 0.5px;
	}
}
