$header-height: 176px;


header {
    position: relative;
    /* height: defined in ccloud.scss */
    z-index: 200;
    background-color: #111;
}

header h1 {
    position: absolute;
    left: 0.1em;
    top: 0.2em;
    width: 3.4em;
    height: 2em;
    color: transparent;
    font-size: 260%;
    margin: 0;
    background: inline-image('../img/ccloud.png') no-repeat 14px 18px;
    background-size: 2.8em;

    sup {
        color: #ccff99;
        font-size: 50%;
        position: relative;
        top: -0.4em;
        left: 0.2em;
    }

    a {
        display: block;
        position: absolute;
        top: 0.25em;
        left: 0.22em;
    }

    a:hover {
        text-decoration: none;
    }
}

#toolbox {
    position: absolute;
    right: 0.1em;
    top: 0.2em;
    color: #eee;
    font-size: 165%;

    a {
        display: block;
        margin: 0.5em;
        padding: 0.4em 0.5em 0.4em 1.8em;
    }

    a[href="/about/"] {
        background: inline-image('../img/about.png') no-repeat 0.6em center;
        background-size: 0.8em;
    }
}
