.page {
    width: 800px;
    margin: 0 auto;
    background-color: #111;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(255,255,255,0.1);
}

.page h1 {
    font-size: 32pt;
    color: white;
    font-weight: normal;
    margin-left: 20px;
    text-align: left;
}

.page article {
    text-align: left;
    background-color: white;
    padding: 10px 20px 20px 20px;
    border-radius: 1px;
    @include box-shadow(inset 0 0 10px rgba(0,0,0,0.15));
    color: #333;
}

.page article a {
    color: rgb(17, 34, 204);
    text-decoration: underline;
}

.page article p {
    margin: 10px 0;
}

.page article h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16pt;
}
