#yaxis-container {
    width: 3em;
    height: 100%;
    background: url('../img/yaxis.png') repeat-y;
    background-size: 2em;
    text-shadow: 2px 2px 0 #000;
    color: white;
    font-weight: bold;
    position: absolute;
    z-index: 100;
    opacity: 0.9;
}

.yaxis {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .label {
        position: absolute;
        left: 0;
        padding-left: 0.7em;
    }

    .tick {
        position: absolute;
        left: 0;
        height: 1px;
        width: 0.3em;
        background: white;
        border-bottom: 2px solid black;
    }

    .tick.minor {
        width: 0.2em;
    }
}
